@import url(../styles/reset.css);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.search-container {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-s {
    width: 56px;
    height: 62px;
    margin-bottom: 30px;
}

#celcius {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    background: #E7E7EB;
    border-radius: 54px;
    border: none;
    box-shadow: 2px 2px 4px black;
}

#fireheight {
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #E7E7EB;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    background: #585676;
    border-radius: 54px;
    border: none;
    box-shadow: 2px 2px 4px black;
}

.left-section {
    width: 450px;
    min-height: 100vh;
    background: #1E213A;
    background-repeat: no-repeat;
    background-position: center;
}

.right-section {
    background: #100E1D;
    width: 1295px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    flex-grow: 1;
    padding: 0px 80px;
}

.button-container button {
    background: #6E707A;
    cursor: pointer;
    margin-left: 30px;
    padding: 7px 10px 7px 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.863);
}

.geo-ico {
    display: flex;
    margin-right: 30px;
    align-items: center;
    background: #6E707A;
    border-radius: 16px;
    padding: 4px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.863);
}

.cloud-background {
    flex-wrap: wrap;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud-background>img {
    width:180px;
    height:202px;
}

.cloud-background::before {
    content: '';
    display: block;
    position: absolute;
    left: 20;
    top: 30;
    width: 580px;
    height: 340px;
    opacity: 0.1;
    background: url(../assets/imgs/Cloud-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.left-temp {
    color: #f2f2f2;
    margin-bottom: 40px;
    font-size: 72px;
}

.location {
    color: #a09fb1c7;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.selector-temp {
    margin-top: 42px;
    margin-right: 125px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.week-time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 123px;
    margin-top: 66px;
    margin-left: 154px;
}

.week {
    font-weight: 500;
    font-size: 16px;
    color: #E7E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 10px;
}

.temp-week {
    font-weight: 500;
    font-size: 16px;
    color: #E7E7EB;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.temp-week>p{
    color:#A09FB1;
}

.tomorrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 177px;
    background: #1E213A;
}

.sun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 177px;
    background: #1E213A;
}

.mon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 177px;
    background: #1E213A;
}

.tue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 177px;
    background: #1E213A;
}

.wed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 177px;
    background: #1E213A;
}

.Today-hl {
    font-weight: 700;
    font-size: 24px;
    color: #E7E7EB;
    margin-top: 72px;
    margin-bottom: 32px;
    margin-left: 154px;
}

.wind-humidity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.wind-stts {
    width: 328px;
    height: 204px;
    background: #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wind-stts>.temp-week {
    margin-bottom: 6px;
}

.values {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E7E7EB;
    font-weight: 700;
    font-size: 72px;
}

.values>span {
    font-size: 32px;
    margin-top: 15px;
    font-weight: 400;
}

.loc {
    display: flex;
    align-items: center;
    margin-top: 26px; 
    gap: 12px;
}

.loc>span {
    color: #E7E7EB;
}

.wind-stts>.loc>svg {
    transform: rotate(170deg);
    padding: 7px;
    border-radius: 52px;
    color: #E7E7EB;
    background: #585676;
}

.humidity {
    width: 328px;
    height: 204px;
    background: #1E213A;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.humidity>.temp-week {
margin-top: 30px;
margin-bottom: 11px;
}

.humidity>.values {
    margin-bottom: 12px;
}

.percentage {
    margin-top: 12px;
    color: #A09FB1;
    display: flex;
    font-size: 12px;
    gap: 92px;
    padding-bottom: 2px;
}

.per-bar {
    display: flex;
    border-radius: 12px;
    width: 229px;
    height: 8px;
    background: linear-gradient(to right, #FFEC65, #FFEC65,#E7E7EB);
}

.per {
    color: #A09FB1;
    font-size: 14px;
    display: flex;
    margin-top: 2px;
    margin-left: 212px;
}